@{
    Layout = null;
}

<!DOCTYPE html>


<html>
<head>
       <script>
           //document.oncontextmenu = document.body.oncontextmenu = function () { return false; }


           //history.pushState(null, null, 'no-back-button');
           //window.addEventListener('popstate', function (event) {
           //    history.pushState(null, null, 'no-back-button');
           //});

           //history.pushState(null, document.title, location.href);
           //window.addEventLitener('popstate', function (event) {
           //    history.pushState(null, document.title, location.href);
           //});


    </script>
    <meta name="viewport" content="width=device-width" />
    <title>Profile</title>
    

     <link href="~/css/bootstrap.min.css" rel="stylesheet" />

    <!-- Custom CSS -->
    
    <link href="~/css/landing-page.css" rel="stylesheet" />

    <!-- Custom Fonts -->
    <link href="font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css">

    <script src="~/ValidateUser.js"></script>

</head>
<body>

    
    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top topnav" role="navigation">
        <div class="container topnav">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <br />
              
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        
                        <a href="UserProfile">Profile</a>
                    </li>
                    <li>
                        <a href="TakeTest">TakeTest</a>

                    </li>
                    <li>
                        <a href="History">History</a>
                    </li>
                    <li>
                        <a href="Logout">Logout</a>
                    </li>
                    
                    
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav><br />
    <br />
     
      <h2 align="center">Profile</h2>
      
    
    <br/>
    <div align="center" id="myTabContent" class="tab-content">
      <div class="tab-pane active in" id="home">
        <form  method="post" onsubmit="return UserProfileValidate()">

             <label>User Name</label><br />
           @*<input type="text"  id ="uname" name="hi" value=@Session["user"] readonly /><br />*@

            <label>@Session["user"]</label><br />
          

            <label>First Name</label><br />
           <input type="text"  id ="firstname" name="fname" value=@ViewBag.firstname /><br/>
          
                        <label>Last Name</label><br />
           <input type="text"  id ="lastname" name="lname" value=@ViewBag.lastname /><br />

                <label>Password</label><br />
           <input type="password"  id ="password" name="pwd" value=@ViewBag.password /><br />

                <label>Confirm Password</label><br />
           <input type="password"  id ="password_two"  value=@ViewBag.password /><br />
          
                        <label>Email</label><br />
           <input type="text"  id ="emailInput" name="mail" value=@ViewBag.email /><br />

              <label>Phone No</label><br />
           <input type="text"  id ="phoneno" name="phone" value=@ViewBag.phoneno ><br />
          
          
          
        	  <button type="submit" class="btn btn-primary">Update</button><br />
        	

        <center> <label id="validation" style="visibility:hidden;color:red"></label><br /></center>

           
         
        </form>

              @if (IsPost)
            {
                @ViewBag.Message
            }
          </div>

          </div>
        
      
	
</body>
</html>
 